.btn {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.875rem;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &.btn-success {
    background-color: var(--success);
    color: var(--white);
  }

  &.btn-create {
    background-color: var(--color-create);
    color: var(--white);
  }

  &.btn-store {
    background-color: var(--color-store);
    color: var(--white);
  }

  &.btn-edit {
    background-color: var(--color-edit);
    color: var(--white);
  }

  &.btn-update {
    background-color: var(--color-update);
    color: var(--white);
  }

  &.btn-delete {
    color: var(--color-delete);
    &::before {
      content: "× ";
    }
  }
}
