:root {

  /* Height
  -------------------------*/
  --header-height: 64px;
  scroll-padding-top: calc(var(--header-height) + 32px);

  /* Width
  -------------------------*/
  --max-width-pc: 1200px;

  /* Colors
  -------------------------*/
  --black: #333;
  --white: #fff;
  --gray: #ccc;
  --gray-light: #eee;
  --main-gray: #545454;
  --mist-gray: rgba(101, 108, 133, .8);
  --navy: #212A3E;
  --red: #F9322C;
  --red-light: #f8d7da;
  --red-deep: #721c24;
  --blue: #5468FF;
  --blue-light: #0080ff;
  --green: #28a745;

  /* Skin color */
  --body-color: #f1f6f9;
  --modal-color: var(--mist-gray);

  /* Shadow color */
  --shadow-color: rgba(0, 0, 0, 0.2);

  --tag-color: #85cdfd;

  --link-color: #362fd9;

  /* Buttons */
  --create-color: var(--green);
  --store-color: var(--green);
  --edit-color: var(--blue-light);
  --update-color: var(--blue-light);
  --delete-color: var(--red-deep);

  /* Alerts */
  --success-bg-color: #08b94e1a;
  --success-txt-color: #08b94e;
  --updated-bg-color: #086DDD1A;
  --updated-txt-color: #086DDD;
  --deleted-bg-color: #E931471A;
  --deleted-txt-color: #E93147;
  --error-bg-color: #E931471A;
  --error-txt-color: #E93147;
}
