:root {
  /* Colors
  -------------------------*/
  --black: #333;
  --white: #fff;
  --gray: #ccc;
  --gray-light: #ecf0f1;
  --gray-medium: #ddd;
  --gray-deep: #808080;
  --gray-dark: #343a40;
  --navy: #2c3e50;
  --red: #ff0000;
  --red-light: #f8d7da;
  --red-deep: #721c24;
  --blue: #0000ff;
  --blue-light: #0080ff;
  --blue-sky: #86b4ff;
  --green: #2ecc71;

  --primary: var(--blue-light);
  --secondary: var(--gray-deep);

  /* Buttons */
  --create-color: var(--green);
  --store-color: var(--green);
  --login-color: var(--blue-light);
  --edit-color: var(--blue-light);
  --update-color: var(--blue-light);
  --delete-color: var(--red-deep);
}
