@use '../global' as *;

.layout-header {
  background-color: var(--header-color);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-container {
  align-items: center;
  color: var(--white);
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 16px 4%;

  @include pc-screen() {
    margin: 0 auto;
    max-width: var(--max-width-pc);
    padding: 16px 24px;
  }
}

/* Site Title
-------------------------*/
.site-title-box {
  .site-title {
    color: var(--white);

    .main-title {
      font-size: 1.3rem;
      letter-spacing: 1px;
    }
  }
}

/* Search Form
-------------------------*/
.search-box {
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  padding: 4px 8px;
  width: 240px;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  .search-icon-wrapper {
    display: inline-flex;
  }

  .shortcut-keys {
    align-items: center;
    display: inline-flex;
    font-family: monospace;
    font-size: 0.75rem;
  }

  .shortcut-key {
    background-color: var(--navy-transparent);
    border-radius: 4px;
    padding: 2px 4px;
  }
}

/* Mobile Navigation Button
-------------------------*/
.mobile-nav-btn {
  -webkit-mask-image: url(../../../public/images/icon-mobile-menu-open.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  display: block;
  background-color: var(--white);
  height: 48px;
  width: 48px;

  @include pc-screen() {
    display: none;
  }

  &.close {
    -webkit-mask-image: url(../../../public/images/icon-mobile-menu-close.svg);
  }

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

/* PC Navigation
-------------------------*/
.pc-nav {
  display: none;

  @include pc-screen() {
    display: block;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    padding: 0 16px;
  }

  .nav-link {
    color: var(--white);
    font-weight: bold;
    opacity: 0.8;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}


/* Mobile Navigation
-------------------------*/
.mobile-nav {
  background-color: var(--header-color);
  height: calc(100vh - var(--header-height));
  opacity: 0.9;
  overflow: auto;
  padding: 40px 4%;

  @include pc-screen() {
    display: none;
  }

  .nav-item {
    .nav-link {
      border-top: 1px solid var(--navy-transparent);
      color: var(--white);
      display: block;
      font-weight: bold;
      padding: 16px;

      &:focus,
      &:hover {
        background-color: var(--blue-transparent);
      }
    }

    &:last-child .nav-link {
      border-bottom: 1px solid var(--navy-transparent);
    }
  }

  &.collapse {
    display: none;
  }
}
