@use '../global' as *;

.layout-main {
  background-color: var(--color-body);
  padding-top: var(--height-header);
}

.main-container {
  padding: 16px 4%;
  min-height: calc(100vh - var(--height-header) - var(--height-footer));

  @include pc-screen() {
    max-width: var(--max-width-pc);
    margin: 0 auto;
    padding-top: var(--padding-main-top);
    padding-bottom: var(--padding-main-bottom);
    padding-right: var(--padding-main-x);
    padding-left: var(--padding-main-x);
  }
}

.columns {
  @include pc-screen() {
    display: grid;
    grid-template-columns: 1fr 320px;
  }
}

.main-column {
  @include pc-screen() {
    overflow-x: auto;
    padding-right: 24px;
  }
}

.side-column {
  @include pc-screen() {
    max-height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: calc(var(--height-header) + var(--padding-main-top));
  }
}
