@use '../global' as *;

.layout-main {
  background-color: var(--body-color);
  padding-top: var(--header-height);
}

.main-container {
  padding: 16px 4%;

  @include pc-screen() {
    max-width: var(--max-width-pc);
    margin: 0 auto;
    padding: 16px 24px;
  }
}

.columns {
  @include pc-screen() {
    display: grid;
    grid-template-columns: 1fr 320px;
  }
}

.main-column {
  @include pc-screen() {
    height: 100vh;
    overflow: scroll;
    padding-right: 24px;
  }
}

.side-column {
  @include pc-screen() {
    height: 100vh;
    overflow: scroll;
  }
}
