@use '../global' as *;

// Prevent the page from scrolling when the modal window is open
body {
  &.modal-open {
    overflow: hidden;
  }
}

.modal {
  background-color: var(--modal-color);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;

  &.disable {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.modal-container {
  background-color: var(--body-color);
  height: 100vh;
  margin: 0;
  max-width: 100%;
  width: 100%;

  @include pc-screen() {
    border-radius: 8px;
    box-shadow: 0px 4px 8px var(--shadow-color);
    height: 600px;
    margin: 60px auto;
    max-width: 600px;
  }
}
