@use '../global' as *;

.post-item {
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 16px;

  @include mobile-screen() {
    border-radius: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 4px var(--color-shadow);
  }

  .post-item-link {
    color: inherit;
    display: block;
    padding: 24px;

    &:hover {
      .post-title {
        text-decoration: underline;
      }
    }
  }

  .post-published-at {
    color: var(--dark-gray);
    font-size: 0.9rem;
  }

  .post-title {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 16px 0;
  }

  .post-item-footer {
    display: flex;
    align-items: center;
  }

  .post-category {
    background-color: var(--gray);
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    padding: 1px 8px;
    margin-right: 8px;
  }
}
