@use '../global' as *;


/* info-for-mobile
-------------------------*/
.info-for-mobile {
  padding-bottom: 16px;

  @include pc-screen() {
    display: none;
  }

  .open-filter-button {
    align-items: center;
    border-radius: 32px;
    background-color: var(--main-gray);
    color: var(--white);
    display: flex;
    margin-left: auto;
    padding: 8px 24px;

    .label {
      padding: 0 4px;
    }

    &:hover {
      cursor: pointer;
    }

    .material-symbols-outlined {
      font-size: 1.2rem;
    }
  }
}
