@use '../global' as *;

.posts-info-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .filter-result {
    background-color: var(--filter-result-bg-color);
    border-radius: 4px;
    color: var(--filter-result-color);
    padding: 8px 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    width: 100%;

    @include pc-screen() {
      margin-right: 0;
    }
  }
}

/* info-for-mobile
-------------------------*/
.info-for-mobile {
  margin-bottom: 16px;
  margin-left: auto;

  @include pc-screen() {
    display: none;
  }

  .open-filter-button {
    align-items: center;
    border-radius: 32px;
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    margin-left: auto;
    padding: 8px 24px;

    .label {
      padding: 0 4px;
    }

    &:hover {
      cursor: pointer;
    }

    .material-symbols-outlined {
      font-size: 1.2rem;
    }
  }
}
