@use '../global' as *;

.search-block {
  --padding-x: 16px;
  --padding-y: 16px;
  --search-header-height: 128px;
  --search-bar-height: 32px;
  --subtract-heights: calc(var(--search-header-height) + var(--padding-x) + var(--padding-x) + var(--search-bar-height));
}

/* -----------------------
Search Header
----------------------- */
.search-header {
  height: var(--search-header-height);
  padding: var(--padding-y) var(--padding-x);
}

/* Search Bar
-------------------------*/
.search-bar {
  align-items: center;
  display: flex;
  padding-bottom: 8px;
}

.search-form {
  align-items: center;
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-radius: 4px;
  display: flex;
  padding: 8px 0;
  width: 100%;
}

.search-label {
  display: block;
  height: 24px;

  .material-symbols-outlined {
    color: var(--blue);
    margin-left: 8px;
  }
}

.search-input {
  border: none;
  border-radius: 4px;
  color: var(--dark-gray);
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.mobile-modal-close {
  color: var(--dark-gray);
  font-weight: bold;
  margin-left: 16px;
  padding: 8px 0;

  @include pc-screen() {
    display: none;
  }
}

/* Suggestion Bar
-------------------------*/
.suggestion-bar {
  display: flex;
  padding-bottom: 8px;
}

.suggestion-list {
  display: flex;
}

.suggestion-item {
  padding-left: 8px;
}

/* Search Scope Bar
-------------------------*/
.search-scope-bar {
  display: flex;
  padding-bottom: 8px;
}

.scope-label {
  margin-right: 4px;
}

.scope-list {
  display: flex;
}

.scope-item {
  align-items: center;
  display: flex;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.scope-radio {
  margin-right: 4px;
}

.scope-label-item {
  cursor: pointer;

  &:hover {
    color: var(--blue-light);
  }
}

/* -----------------------
Search Body
----------------------- */
.search-body {
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

/* Search Results
-------------------------*/
.search-result-label {
  height: var(--search-bar-height);
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.search-results {
  height: calc(100vh - var(--subtract-heights));
  overflow-y: auto;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);

  @include pc-screen() {
    max-height: calc(600px - var(--subtract-heights));
    padding-bottom: 0;
  }
}

.search-result-item {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 1px 1px 2px var(--shadow-color);
  margin-bottom: 8px;
  padding: 16px 8px;

  &:last-child {
    margin-bottom: 24px;
  }

  &:hover {
    background-color: var(--blue-light);
    color: var(--white);
  }
}
