.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.my-tag {
  padding: 4px 2px;
}

.tag-inner {

}

.tag-label {
  border: 1px solid var(--gray);
  border-radius: 16px;
  color: var(--main-gray);
  font-size: 14px;
  padding: 4px 8px;

  &:hover {
    background-color: var(--gray-light);
    cursor: pointer;
    opacity: 0.8;
  }

  &.tag-checked {
    background-color: var(--tag-color);

    &:hover {
      background-color: var(--tag-color);
    }
  }
}
