.tags-list {
  display: flex;
  flex-wrap: wrap;

  &.is-scrollable {
    max-height: 240px;
    overflow-y: scroll;
  }
}

.tag-item {
  padding: 4px 2px;
}

.tag-label {
  border: 1px solid var(--color-tag-border);
  border-radius: 16px;
  color: var(--color-tag);
  font-size: 14px;
  padding: 4px 8px;

  &.ignore-pointer  {
    pointer-events: none;
  }

  &:hover {
    background-color: var(--color-tag-hover-bg);
    cursor: pointer;
  }

  &.tag-checked {
    background-color: var(--color-tag-checked-bg);
    border: 1px solid var(--color-tag-checked);
    color: var(--color-tag-checked);

    &:hover {
      opacity: 0.8;
    }
  }
}
