 .alert {
    border-radius: 4px;
    font-weight: bold;
    padding: 8px;

    &.alert-success {
      background-color: var(--color-success-bg);
      color: var(--color-success-text);
    }

    &.alert-updated {
      background-color: var(--color-updated-bg);
      color: var(--color-updated-text);
    }

    &.alert-deleted {
      background-color: var(--color-deleted-bg);
      color: var(--color-deleted-text);
    }

    &.alert-error {
      background-color: var(--color-deleted-bg);
      color: var(--color-deleted-text);
    }
  }
