/* Form parts
-------------------------*/
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;

  &::placeholder {
    color: #a5a5a5;
  }

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

/* -----------------------
Form
----------------------- */
.form-inner {
  margin: 8px auto;

  .input-box {
    margin-bottom: 16px;

    .validation-message {
      background-color: #E931471A;
      border-radius: 4px;
      color: #E93147;
      font-size: 14px;
      margin-top: 4px;
      padding: 4px 8px;
    }
  }
}

/* Required-mark next to label
-------------------------*/
.required-mark {
  color: var(--red);
  margin-left: 4px;
}
