.table {
  background-color: var(--white);
  border-collapse: collapse;
  width: 100%;

  .tbody-row:nth-child(even) {
    background-color: var(--light-gray);
  }

  .table-header {
    background-color: var(--dark-gray);
    color: var(--white);
    position: sticky;
    top: 0;
  }

  .th-cell,
  .td-cell {
    border: 1px solid var(--gray);
    overflow: hidden;
    white-space: normal;
    padding: 8px;

    &.wrap {
      text-overflow: unset;
      white-space: normal;
    }

    &.is-narrow {
      max-width: 64px;
    }

    &.is-midium {
      min-width: 240px;
      max-width: 400px;
    }

    &.is-wide {
      min-width: 240px;
      max-width: 320px;
    }

    &.is-ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.t-center {
      text-align: center;
    }
  }
}
