@use '../global' as *;

:root {
  --left-side-width: 184px;
}

.layout-admin {
  display: flex;
}

.left-column {
  background-color: var(--navy);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: var(--left-side-width);
}

.right-column {
  background-color: var(--gray-light);
  height: 100vh;
  margin-left: var(--left-side-width);
  width: calc(100% - var(--left-side-width));
  overflow: auto;
}

.right-header {
  padding: 16px 24px;
}

.right-body {
  padding: 8px 24px;
}
